<template>
  <div class="agent">
    <h1 class="text-center font-weight-light text-uppercase">Agent Profile</h1>

    <div id="agentDiv" >
      <div class="row">
        
        <div id="imageDiv" class="col-md-auto m-3">
          <img v-bind:src="require('@/assets/images/' + agent.profile_image)"  id="agentProfilePicture" />
        </div>

        <div id="infoDiv" class="col">
          <div id="nameDiv" class="row">
            <div class="col">
              <h2>{{agent.first_name}} {{agent.last_name}}</h2>
            </div>
          </div>
          <div id="contactDiv" class="row">
            <h4 class="col">Email: {{agent.email}}</h4>
            <h4 class="col">Tel: {{agent.telephone}}</h4>
          </div>
          <div id="lorumDiv" class="row">
            <div class="col">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo doloribus porro veritatis beatae molestiae molestias inventore placeat ipsam minima quia exercitationem voluptates, nam voluptas ducimus, sunt deleniti repellat hic accusamus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem laboriosam praesentium neque nobis, perspiciatis quam quas blanditiis similique illum maiores aspernatur hic. Ducimus quae, odio distinctio dolorem tempore dolore quas.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <HouseListing
      v-for="(data, index) in agent.listings"
      v-bind:key="index"
      v-bind:address="data.address"
      v-bind:latitude=data.latitude
      v-bind:longitude=data.longitude
      v-bind:description="data.description"
      v-bind:agent="agent.first_name +' '+agent.last_name"
      v-bind:agentIndex=$route.params.agentIndex
      v-bind:houseIndex=index
      v-bind:src="data.images[0]" />

  </div>
</template>

<script>
import json from '../assets/house_data.json'
import HouseListing from '@/components/HouseListing.vue'


export default {
  name: 'Agent',
  houseJson: json,

  components: {
    HouseListing
  },

  computed: {
    agent: function() {return this.$options.houseJson[this.$route.params.agentIndex]}
  },

  created() {
    window.scrollTo(0,0);
  }
}
</script>


// Inline styling
<style>
#agentProfilePicture {
  border-radius: 5px;
  height: 256px;
  width: 256px;
}

#agentDiv {
  border: 1px solid black;
  background: teal;
}

#infoDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
</style>