<template>
  <div>
    <h1 class="text-center font-weight-light text-uppercase">Listings</h1>
    <!-- Navigation Bar updates the offset used for the 10 displayed house listings -->
    <NavigationBar @updateOffset="updateOffset"/>
    <!-- Displays house listings using a shorter, ten element housing array -->
    <HouseListing
      v-for="(data, index) in shortHousingArray"
      v-bind:key="index"
      v-bind:address="data.house.address"
      v-bind:latitude=data.house.latitude
      v-bind:longitude=data.house.longitude
      v-bind:description="data.house.description"
      v-bind:agent="data.agent.first_name +' '+data.agent.last_name"
      v-bind:agentIndex=data.agentIndex
      v-bind:houseIndex=data.houseIndex
      v-bind:src="data.house.images[0]" />
  </div>
</template>

<script>
// Imports necessary components and json
import HouseListing from '@/components/HouseListing.vue'
import NavigationBar from '@/components/NavigationBar.vue'
import json from '../assets/house_data.json'

export default {
  name: 'Home',
  houseJson: json,
  data: function() {
    return {
      offset: 0,        // Offset where the short list splits the larger array
      housingArray: []  // All the houses in a single array
    };
  },
  created: function() {
    // Once the component is created, put all houses into a single list
    // to make it easier to display 10 houses at the time

    // Go through all agents...
    for(let i = 0; i < this.$options.houseJson.length; i++) {
      // Reference to the current agent for ease of reading
      let agent = this.$options.houseJson[i]
      // Go through all of the agents houses...
      for(let j = 0; j < agent.listings.length; j++) {
        // Create a new object and add the indexes, agent and house
        let tempHouse = {
          agentIndex: i,
          houseIndex: j,
          agent: agent,
          house: agent.listings[j]
        }
        // Add to the housing array
        this.housingArray.push(tempHouse)
      }
    }
  },
  computed: {
    // Returns a shorter version of the housing array
    // going from the offset and includes 10 houses
    shortHousingArray: function() {
      return this.housingArray.slice(this.offset,this.offset+10)
    }
  },
  components: {
    HouseListing,
    NavigationBar
  },
  methods: {
    // The navigation bar triggers this function once the offset is changed
    // Updates this parent's offset with the child's offset
    updateOffset: function(offset) {
      this.offset = offset
    }
  }
}
</script>
