<template>
  <div class="single">
    <h1 class="text-center font-weight-light text-uppercase">Listing</h1>

    <HouseListing
    v-bind:address="house.address"
    v-bind:latitude=house.latitude
    v-bind:longitude=house.longitude
    v-bind:description="house.description"
    v-bind:agent="agent.first_name +' '+agent.last_name"
    v-bind:agentIndex=$route.params.agentIndex
    v-bind:houseIndex=$route.params.houseIndex
    v-bind:src="house.images[0]" />

<!-- Here are the design of the gallery at the bottom of the page. Its here instead of in the Picturegallery-component. Otherwise the design wouldn't work the way we wanted it to.  -->
    <div class="rounded d-inline-flex justify-content-center container-fluid" id="imagecontainer">
        <div class="row" id="imagerow">
            <!-- Getting the image from the listing, and for every image, it creates a new element.-->
            <div class="col" id="imagecol" v-for="(image, index) in house.images" v-bind:key="index">
                <Picturegallery v-bind:img="image"></Picturegallery>
            </div>
        </div>
    </div>
</div>
  
</template>

<script>
// @ is an alias to /src
import HouseListing from '@/components/HouseListing.vue'
import Picturegallery from '@/components/Picturegallery.vue'
import json from '../assets/house_data.json'

export default {
  name: 'House',
  houseJson: json,
  components: {
    HouseListing,
    Picturegallery
  },
  computed: {
    // This is a "shortcut" so we don't have to write this long mess
    agent: function() {return this.$options.houseJson[this.$route.params.agentIndex]},
    house: function() {return this.$options.houseJson[this.$route.params.agentIndex].listings[this.$route.params.houseIndex]}

  }
}
</script>

<style>
	#imagerow {
		background-color: Bisque;
		margin: 5px;
		padding: 10px;
		align-items: center;
	}
	#imagecol {
		/*max-width: 265px;*/
		padding: 5px;
		margin: 3px;
		align-content: center;
	}

</style>