<template>
  <div>
    <div class="row p-2">
      <div class="col-2"/>
      <div class="col">
        <div class="row house-box rounded">
          <div class="col-lg-4 text-center p-3">
            <router-link :to="{name:'House', params: {agentIndex: agentIndex, houseIndex: houseIndex}}">
            <img id="laptopImage" class="img-fluid" width="250px" :src="src">
            </router-link>
          </div>
          <div class="col-lg-8">
            <div class="row p-3">
              <div class="col-lg-8 text-center text-lg-left">
                <h2>
                  <router-link :to="{name:'House', params: {agentIndex: agentIndex, houseIndex: houseIndex}}">
                    {{address}}
                  </router-link>
                </h2>
                <p>Lati: {{latitude}}, Long: {{longitude}}</p>
              </div>
              <div class="col-lg-4 text-center text-lg-right">
                <router-link :to="{name:'Agent', params: {agentIndex: agentIndex}}">
                  {{agent}}
                </router-link>
              </div>
            </div>
            <p>{{description}}</p>
          </div>
        </div>
      </div>
      <div class="col-2"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    address: String,
    latitude: Number,
    longitude: Number,
    agent: String,
    description: String,
    agentIndex: Number,
    houseIndex: Number,
    src: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.house-box {
  background-color: bisque;
}
</style>