<template>
  <div class="row">
    <div class="col-4"/>
    <div class="col-1 text-center">
      <button class="btn btn-primary" v-on:click="updateOffset(-10)">❮</button>
    </div>
    <div class="col-2 text-center">
      {{offset}}
    </div>
    <div class="col-1 text-center">
      <button class="btn btn-primary" v-on:click="updateOffset(10)">❯</button>
    </div>
    <div class="col-4"/>
  </div>
</template>

<script>
export default {
  name: 'NavigationBar',
  data: function() {
    return {
      offset: 0
    }
  },
  methods: {
    updateOffset: function(value) {
      this.offset += value
      if(this.offset < 0) {
        this.offset = 0
      }
      this.$emit('updateOffset', this.offset)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>