<!-- The component that presents images of the listings from the json. 
 -->
<template>
    <img v-bind:src="img" id ="listingImg" class="rounded img-fluid" alt="Picture of house"/>
</template>


<script>

export default {
    name: 'Picturegallery', 
    props: {
        img: String
    }
}
</script>


