<!-- Here are parts of the app that will be the same on all different views. This is only the home-link and the footer -->

<template>
  <div id="app">
    <div id="nav" class="p-3">
      <router-link to="/">Home</router-link> |
    </div>
    <router-view/>
    <body>
      
    </body>
  
    <footer class="page-footer">
      <h5 class="text-center text-uppercase">House Inc.</h5>
      
      <p class="text-center text-uppercase">© 2020 Copyright: Emil Grenebrant, Tora Haukka, Erik Johansson</p>
    </footer>
  </div>
</template>

<style>
  .page-footer {
    padding-top: 5px;
    margin-top: 30px;
    background-color: #FF896F;
    height: 75px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
/*  max-width to make sure the sizing was correct and we didnt have to scroll left and right*/
body {
  min-height: 100px;
  max-width: 97vw;
}
</style>
